<div class="row" ><div class=" col-xs-12 col-sm-12 col-md-12 logoLogin"></div></div>
<h3>Recuperar Senha</h3>
<div class="row">
        <div class="col-xs-2 col-sm-4 col-md-4"></div>
        <div  class="col-xs-8 col-sm-4 col-md-4">
<form [formGroup]="form" role="form" (ngSubmit)="reset()" novalidate>
    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email">E-mail</label>
        <input [formControl]="email" required type="text" class=" input-line" id="email" name="email">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="email.valid || email.pristine">Entre seu endereço de e-mail</li>
                <li *ngIf="email.dirty && email.hasError('required')">Preencha um e-mail corretamente</li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Enviar E-mail
    </button>
</form> 
</div>
</div>
