<div class="row" *ngIf="!(isLoggedIn|async)"><div class=" col-xs-12 col-sm-12 col-md-12 logoLogin"></div></div>
<h3>Cadastro</h3>
<form [formGroup]="form" role="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row"> 
        <div class="form-group col-xs-6 col-sm-6 col-md-6" [class.has-error]="name.invalid && name.touched">
            <label for="name" class="control-label">Nome</label>
            <input [formControl]="name" required type="text" class=" input-line" id="name" name="name">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li *ngIf="name.valid || name.pristine">Preencha o seu nome</li>
                    <li *ngIf="name.dirty && name.hasError('required')">Um nome precisa ser preenchido</li>
                </ul>
            </div>
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-6" [class.has-error]="email.invalid && email.touched">
            <label for="email" class="control-label">E-mail</label>
            <input [formControl]="email" required type="email" class=" input-line" id="email" name="email">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li *ngIf="email.valid || email.pristine">Entre seu endereço de e-mail</li>
                    <li *ngIf="email.dirty && email.hasError('required')">Um e-mail precisa ser preenchido</li>
                    <li *ngIf="email.dirty && email.hasError('email')">Por favor, preencha um e-mail válido</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="form-group col-xs-4 col-sm-4 col-md-4" [class.has-error]="cpf.invalid && cpf.touched">
            <label for="cpf" class="control-label">CPF</label>
            <input [formControl]="cpf" required type="text" class=" input-line" id="cpf" name="cpf" mask="999.999.999-99">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li *ngIf="cpf.valid || cpf.pristine">Preencha o seu CPF</li>
                    <li *ngIf="cpf.dirty && cpf.hasError('required')">Um CPF precisa ser preenchido</li>
                </ul>
            </div>
        </div>
        <div class="form-group col-xs-4 col-sm-4 col-md-4" [class.has-error]="rg.invalid && rg.touched">
            <label for="rg" class="control-label">RG</label>
            <input [formControl]="rg" required type="text" class=" input-line" id="rg" name="rg">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li *ngIf="rg.valid || rg.pristine">Preencha o seu RG</li>
                    <li *ngIf="rg.dirty && rg.hasError('required')">Um RG precisa ser preenchido</li>
                </ul>
            </div>
        </div>
        <div class="form-group col-xs-4 col-sm-4 col-md-4" [class.has-error]="telefone.invalid && telefone.touched">
            <label for="telefone" class="control-label">Telefone</label>
            <input [formControl]="telefone" required type="text" class=" input-line" id="telefone" name="telefone" mask="(99)99999-9999">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li *ngIf="telefone.valid || telefone.pristine">Preencha o seu telefone</li>
                    <li *ngIf="telefone.dirty && telefone.hasError('required')">Um telefone precisa ser preenchido</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="form-group col-xs-6 col-sm-6 col-md-6" [class.has-error]="password.invalid && password.touched">
            <label for="password">Senha</label>
            <input [formControl]="password" type="password" required class=" input-line" id="password" name="password">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li *ngIf="password.dirty && password.valid || password.pristine">Entre sua senha</li>
                    <li *ngIf="password.dirty && password.hasError('required')">Uma senha precisa ser preenchida</li>
                </ul>
            </div>
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-6"
            [class.has-error]="(password2.invalid || form.hasError('mismatchedPasswords')) && password2.touched">
            <label for="password2">Confirme a senha</label>
            <input [formControl]="password2" type="password" required class=" input-line" id="password2"
                name="password2">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li *ngIf="(password2.valid && !form.hasError('mismatchedPasswords')) || password2.pristine">Repita sua senha</li>
                    <li *ngIf="password2.dirty && password2.hasError('required')">Uma senha precisa ser preenchida</li>
                    <li *ngIf="password2.dirty && password2.valid && form.hasError('mismatchedPasswords')">Senhas não são iguais</li>
                </ul>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Salvar
    </button>
</form>
